---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Webdesign",
    description:
      "Transformamos ideias em interfaces impactantes.Sites modernos, responsivos e centrados no usuário. Do visual à usabilidade, criamos experiências digitais que impressionam e convertem.",
    icon: "mdi:web",
  },
  {
    title: "Desenvolvimento sob medida",
    description:
      "Tecnologia personalizada para o seu projeto. Criamos sistemas e aplicações web com foco total nas suas necessidades. Desde automações internas até plataformas robustas e escaláveis.",
    icon: "mdi:cog",
  },
  {
    title: "Lojas virtuais",
    description:
      "Seu negócio online, pronto para vender. Desenvolvemos e-commerces completos, com foco em performance, conversão e facilidade de gestão. Integrações com meios de pagamento, frete e mais.",
    icon: "mdi:cart-variant",
  },
  {
    title: "Integrações e APIs",
    description:
      "Conectamos sistemas para ampliar seus resultados. Integramos plataformas, CRMs, ERPs, gateways de pagamento e APIs públicas ou privadas. Facilitamos fluxos, dados e automações entre serviços.",
    icon: "mdi:api",
  },
  {
    title: "Suporte e manutenção",
    description:
      "Seu site sempre seguro, atualizado e funcional. Oferecemos planos de manutenção contínua, correções, atualizações técnicas, backups e otimizações para garantir tranquilidade e confiança.",
    icon: "mdi:lifebuoy",
  },
  {
    title: "Consultoria",
    description:
      "Direcionamento técnico e estratégico. Ajudamos empresas a entender, planejar e evoluir digitalmente. Do MVP ao crescimento escalável, orientamos com clareza e soluções viáveis.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Por que escolher a CODICE?" id="features">
  <Fragment slot="lead">
    Mais do que <span class="text-primary">uma agência</span>, somos parceiros
    na criação de soluções digitais <span class="text-primary"
      >inteligentes</span
    >, feitas para crescer junto com <span class="text-primary">você.</span>
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
